version: '3.8'

services:
  otetekart-server:
    build: ./server
    ports:
      - "5000:5000"
    restart: always

  uptime-kuma:
    image: louislam/uptime-kuma:1
    restart: always
    ports:
      - "3001:3001"
    volumes:
      - uptime-kuma-data:/app/data

volumes:
  uptime-kuma-data:
